<!DOCTYPE html>
<html>
<title>Books App</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>
<body>

<div class="w3-sidebar w3-bar-block w3-card w3-animate-left" style="display:none" id="mySidebar">
  <button class="w3-bar-item w3-button w3-large"
  onclick="w3_close()">Close &times;</button>

  {% for object in object_list %}
<a href="{% url 'topic' pk=object.pk %}" class="w3-bar-item w3-button jumbotron" style="font-weight:bold;color:black">{{object.name}}</a>

  {% endfor %}

</div>

<div id="main">

<div class="w3-teal">
  <button id="openNav" class="w3-button w3-teal w3-xlarge" onclick="w3_open()">&#9776;</button>
</div>
  



</div>

<div class="container alert alert-success">
  <h1 class="text-center" style="font-style: italic;text-decoration: underline;">Welcome</h1>
  <h2 class="jumbotron">Welcome to our web applications which happens to be a book simulator!</h2>
  <h3>Go ahead and select topic from sidebar and get various questions on them! or feel free to add more question from the adminn panel</h3>
</div>
<div class="container alert alert-danger">
  <h3>The administrator has complet authority over the application with a sepertae admin panel for him accessible at the admin route (/admin)</h3>
  <h3>The application currently features secure and robust authenticatins with various security algorithms working at the backend to provide top notch security and login, singup and other auth events are being handled, admin dashboard with many privelages and authority, fully responsive and device ready tamplate backbone,etc</h3>
  <br>
  <a href="{% url 'logout' %}" class="btn btn-primary">Log Out</a>
</div>





<script>
function w3_open() {
  document.getElementById("main").style.marginLeft = "25%";
  document.getElementById("mySidebar").style.width = "25%";
  document.getElementById("mySidebar").style.display = "block";
  document.getElementById("openNav").style.display = 'none';
}
function w3_close() {
  document.getElementById("main").style.marginLeft = "0%";
  document.getElementById("mySidebar").style.display = "none";
  document.getElementById("openNav").style.display = "inline-block";
}
</script>

</body>
</html>
